<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <script defer src="/vendor/fontawesome/js/brands.js"></script>
  <script defer src="/vendor/fontawesome/js/solid.js"></script>
  <script defer src="/vendor/fontawesome/js/fontawesome.js"></script>

  <!-- Custom styles for this template -->
  <link href="../styles/messenger.css" rel="stylesheet">
  <link href="../styles/main.css" rel="stylesheet">
  <link href="../styles/layout.css" rel="stylesheet">
</head>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="messages-header text-muted">
        <strong>My Messages</strong>
      </div>
      <ul class="buyer-list">
        <li>
          <div class="buyer-name">
            <strong>Test Buyer</strong>
          </div>
          <div class="last-message text-muted">
            testing some chat
          </div>
        </li>
        <li>
          <div class="buyer-name">
            <strong>Test Buyer 2</strong>
          </div>
          <div class="last-message text-muted">
            testing some more chat
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="chat-message">
        <ul class="chat-box">
          <li class="chat-them">
            <div class="chat-header">
              <strong>Test Buyer</strong>
            </div>
            <div class="chat-body text-muted">
              <p>Testing a chat from Test Buyer</p>
              <p>With another here!</p>
            </div>
          </li>
          <li class="chat-me">
            <div class="chat-header">
              <strong>Me</strong>
            </div>
            <div class="chat-body text-muted">
              <p>Testing a chat from myself to test buyer</p>
              <p>With another right below it</p>
            </div>
          </li>
          <li class="chat-them">
            <div class="chat-header">
              <strong>Test Buyer</strong>
            </div>
            <div class="chat-body text-muted">
              <p>And a response back</p>
            </div>
          </li>
          <li class="chat-me">
            <div class="chat-header">
              <strong>Me</strong>
            </div>
            <div class="chat-body text-muted">
              <p>putting another message</p>
              <p>and one more</p>
            </div>
          </li>
        </ul>
        <div class="chat-box-text">
          <input class="form-control border no-shadow no-rounded" placeholder="Type your message here">
          <button class="btn btn-success no-rounded" type="button">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
