
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="messages-header text-muted">
        <strong>My Messages</strong>
      </div>
      <ul class="buyer-list">
        <li>
          <div class="buyer-name">
            <strong>Test Buyer</strong>
          </div>
          <div class="last-message text-muted">
            testing some chat
            <i class="chat-alert fa-solid fa-check"></i>
          </div>
        </li>
        <li>
          <div class="buyer-name">
            <strong>Test Buyer 2</strong>
          </div>
          <div class="last-message text-muted">
            testing some more chat
            <i class="chat-alert fa-solid fa-circle" style="color: red;"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="chat-message">
        <ul class="chat-box">
          <li class="chat-them">
            <div class="chat-header">
              <strong>Test Buyer</strong>
            </div>
            <div class="chat-body text-muted">
              <p>Testing a chat from Test Buyer</p>
              <p>With another here!</p>
            </div>
          </li>
          <li class="chat-me">
            <div class="chat-header">
              <strong>Me</strong>
            </div>
            <div class="chat-body text-muted">
              <p>Testing a chat from myself to test buyer</p>
              <p>With another right below it</p>
            </div>
          </li>
          <li class="chat-them">
            <div class="chat-header">
              <strong>Test Buyer</strong>
            </div>
            <div class="chat-body text-muted">
              <p>And a response back</p>
            </div>
          </li>
          <li class="chat-me">
            <div class="chat-header">
              <strong>Me</strong>
            </div>
            <div class="chat-body text-muted">
              <p>putting another message</p>
              <p>and one more</p>
            </div>
          </li>
        </ul>
        <div class="chat-box-text">
          <input class="form-control border no-shadow no-rounded" placeholder="Type your message here">
          <button class="btn btn-success no-rounded" type="button">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
