<footer class="text-muted py-5">
  <div class="container">

    <p class="mb-sm-1">This is a midterm project by Andrei Chirita &amp; Kate Galich.</p>
      <p class="mb-sm-1">Technologies used:
      <a href="https://expressjs.com/">Node Express</a>, <a href="https://www.postgresql.org/">Postgre database</a>,
      <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
    <p class="mb-sm-1">Like & Subscribe everywhere!</p>
    <a href="#">Back to top</a>

  </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<script src="/scripts/header.js"></script>
