<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <a href="/" class="navbar-brand d-flex align-items-center">
      <i class="fa-solid fa-store"></i>
      <strong>Bazaar</strong>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <% if(user) {%>
          <a class="nav-link active" aria-current="page" href="/newlisting">Post new listing</a>
          <% } %>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <% if(!user) {%>
        <li class="nav-item">
          <a class="nav-link" href="/users/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/register">Sign up</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <form method="POST" action="/users/logout">
            <span class="text-muted">
              Logged in as: <%= user.email %>
            </span>
            <button type="submit" class="nav-item btn btn-primary">Logout</button>
          </form>
        </li>
        <% } %>
      </ul>

    </div>
  </div>
</nav>
