<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Bazaar Registration</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <script defer src="/vendor/fontawesome/js/brands.js"></script>
  <script defer src="/vendor/fontawesome/js/solid.js"></script>
  <script defer src="/vendor/fontawesome/js/fontawesome.js"></script>

  <!-- Custom styles for this template -->
  <link href="styles/reglogin.css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">
  <link href="styles/layout.css" rel="stylesheet">
</head>

<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form>
      <i class="fa-solid fa-store fa-3x"></i>
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <p>Already a member? <a href="/login">Sign in</a></p>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    </form>
  </main>
</body>
</html>
